*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(1000deg, #93c993, rgb(121, 168, 157));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.contenedor{
    background: rgba(237, 255, 225, 0.774);
    margin-top: 50px;
    width: 70%;
    max-width: 600px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;

}

h1 {
    color: #333;
    margin-bottom: 5px;
}

h2 {
    color: #555;
    margin-top: 0;
}

p {
    color: #666;
    font-size: 15px;
}

.linea {
    width: 60%;
    margin: 25px auto;
    border-bottom: 2px solid #485052;
}